@model PagedList.IPagedList<WebDecor.DATA.EF.Product>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Categories Section Begin -->
<section class="categories">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 p-0">


                <div class="categories__item categories__large__item set-bg" data-setbg="https://tomokid.com/wp-content/uploads/tu-vung-tieng-anh-ve-chu-de-dung-cu-y-te.jpg">
                    <div class="categories__text">
                        <h1 style="color:red !important">Dụng cụ y tế</h1>
                        <p style="font-weight:bold; color:dodgerblue">
                            Bảo vệ sức khỏe cộng đồng và gia đình bạn!
                        </p>
                        <a href="/Home/ProductForCate/1">Xem ngay</a>
                    </div>
                </div>




            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" data-setbg="https://banbuonsieure.com/wp-content/uploads/2017/06/hop-dung-thuoc-tien-ich-cho-gia-dinh.jpg">
                            <div class="categories__text">
                                <h4>PostCard</h4>
                                <p>358 sản phẩm</p>
                                <a href="/Home/ProductForCate/2">Xem ngay</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" data-setbg='https://thietbiytetantam.com/wp-content/uploads/2020/08/m.png'>
                            <div class="categories__text">
                                <h4>Thiết bị y tế</h4>
                                <p>273 sản phẩm</p>
                                <a href="/Home/ProductForCate/3">Xem ngay</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" data-setbg="https://benh.vn/wp-content/uploads/2018/04/phan-loai-360x240.jpg">
                            <div class="categories__text">
                                <h4>Thuốc</h4>
                                <p>159 sản phẩm</p>
                                <a href="/Home/ProductForCate/4">Xem ngay</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" data-setbg="https://brands.vn/wp-content/uploads/2019/12/nh%C3%A2n-vi%C3%AAn-sale-l%C3%A0-g%C3%AC.jpg">
                            <div class="categories__text">
                                <h4>Giảm giá</h4>
                                <p>792 sản phẩm</p>
                                <a href="#">Xem ngay</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Categories Section End -->
<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="section-title">
                    <h4>Sản phẩm</h4>
                </div>
            </div>
            <div class="col-lg-8 col-md-8">
                <ul class="filter__controls">
                    <li class="active" data-filter="*">Tất cả</li>
                    <li data-filter=".Trangtri">Dụng cụ y tế</li>
                    <li data-filter=".Postcard">PostCard</li>
                    <li data-filter=".Quanao">Thiết bị y tế</li>
                    <li data-filter=".Giadung">Thuốc</li>
                    <li data-filter=".SALE">SALE</li>
                </ul>
            </div>
        </div>
        <div class="row property__gallery">
            @foreach (var item in Model)
            {
                if (item.STT != false)
                {
                    if (((float?)item.Sale).ToString() != "0")
                    {
                        <div class="col-lg-3 col-md-4 col-sm-6 mix SALE">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="/Assets/Client/img/product/@item.ImageUrl">
                                    <div class="label sale">-@((float?)item.Sale)%</div>
                                    <ul class="product__hover">
                                        <li><a href="@Url.Action("ProductDetails", "Home", new { id = item.ID})"> <!--class="image-popup"--> <span class="fas fa-search"></span></a>
                                        <li><a href="@Url.Action("AddItem", "Cart", new { @productId = item.ID, @SL = 1 })"><span class="fas fa-shopping-cart"></span></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="@Url.Action("ProductDetails", "Home", new { id = item.ID})">@item.ProductName</a></h6>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="product_sale product__price" style="color: #FF4646">
                                        <script>
                                        var price = new Number(@((float?)item.Price - ((float?)item.Price * (float?)item.Sale / 100)));
                                        var myObj = {
                                            style: "currency",
                                            currency: "VND"
                                        }

                                        document.write(price.toLocaleString("vi-VN", myObj));
                                        </script>
                                        <sup><del>@((float?)item.Price)</del></sup>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else if (item.Category == 2)
                    {
                        <div class="col-lg-3 col-md-4 col-sm-6 mix Giadung">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="/Assets/Client/img/product/@item.ImageUrl">
                                    <div class="label new">Gia dụng</div>
                                    <ul class="product__hover">
                                        <li><a href="@Url.Action("ProductDetails", "Home", new { id = item.ID})"><span class="fas fa-search"></span></a>
                                        <li><a href="@Url.Action("AddItem", "Cart", new { @productId = item.ID, @SL = 1 })"><span class="fas fa-shopping-cart"></span></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="@Url.Action("ProductDetails", "Home", new { id = item.ID})">@item.ProductName</a></h6>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="product_sale product__price">
                                        <script>
                                        var price = new Number(@((float?)item.Price));
                                        var myObj = {
                                            style: "currency",
                                            currency: "VND"
                                        }

                                        document.write(price.toLocaleString("vi-VN", myObj));
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else if (item.Category == 1)
                    {
                        <div class="col-lg-3 col-md-4 col-sm-6 mix Trangtri">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="/Assets/Client/img/product/@item.ImageUrl">
                                    <div class="label trangtri">Dụng cụ y tế</div>
                                    <ul class="product__hover">
                                        <li><a href="@Url.Action("ProductDetails", "Home", new { id = item.ID})"> <!--class="image-popup"--> <span class="fas fa-search"></span></a>
                                        <li><a href="@Url.Action("AddItem", "Cart", new { @productId = item.ID, @SL = 1 })"><span class="fas fa-shopping-cart"></span></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="@Url.Action("ProductDetails", "Home", new { id = item.ID})">@item.ProductName</a></h6>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="product_sale product__price">
                                        <script>
                                        var price = new Number(@((float?)item.Price));
                                        var myObj = {
                                            style: "currency",
                                            currency: "VND"
                                        }

                                        document.write(price.toLocaleString("vi-VN", myObj));
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else if (item.Category == 3)
                    {
                        <div class="col-lg-3 col-md-4 col-sm-6 mix Postcard">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="/Assets/Client/img/product/@item.ImageUrl">
                                    <div class="label stockblue">PostCard</div>
                                    <ul class="product__hover">
                                        <li><a href="@Url.Action("ProductDetails", "Home", new { id = item.ID})"> <!--class="image-popup"--> <span class="fas fa-search"></span></a>
                                        <li><a href="@Url.Action("AddItem", "Cart", new { @productId = item.ID, @SL = 1 })"><span class="fas fa-shopping-cart"></span></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="@Url.Action("ProductDetails", "Home", new { id = item.ID})">@item.ProductName</a></h6>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="product_sale product__price">
                                        <script>
                                        var price = new Number(@((float?)item.Price));
                                        var myObj = {
                                            style: "currency",
                                            currency: "VND"
                                        }

                                        document.write(price.toLocaleString("vi-VN", myObj));
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else if (item.Category == 4)
                    {
                        <div class="col-lg-3 col-md-4 col-sm-6 mix Quanao">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="/Assets/Client/img/product/@item.ImageUrl">
                                    <div class="label stockout">Thiết bị y tế</div>
                                    <ul class="product__hover">
                                        <li><a href="@Url.Action("ProductDetails", "Home", new { id = item.ID})"> <!--class="image-popup"--> <span class="fas fa-search"></span></a>
                                        <li><a href="@Url.Action("AddItem", "Cart", new { @productId = item.ID, @SL = 1 })"><span class="fas fa-shopping-cart"></span></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="@Url.Action("ProductDetails", "Home", new { id = item.ID})">@item.ProductName</a></h6>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="product_sale product__price">
                                        <script>
                                        var price = new Number(@((float?)item.Price));
                                        var myObj = {
                                            style: "currency",
                                            currency: "VND"
                                        }

                                        document.write(price.toLocaleString("vi-VN", myObj));
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            }
            <div class="col-lg-12 text-center">
                <div class="pagination__option">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Section End -->
<!-- Discount Section Begin -->
<section class="discount">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 p-0">
                <div class="discount__pic">
                    <img src="~/Assets/Client/img/bigsale.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 p-0">
                <div class="discount__text">
                    <div class="discount__text__title">
                        <span>Discount</span>
                        <h2>Big sale 2021</h2>
                        <h5><span>Sale up to</span> 50%</h5>
                    </div>
                    @*<div class="discount__countdown" id="countdown-time">
                        <div class="countdown__item">
                            <span>00</span>
                            <p>Days</p>
                        </div>
                        <div class="countdown__item">
                            <span>00</span>
                            <p>Hour</p>
                        </div>
                        <div class="countdown__item">
                            <span>00</span>
                            <p>Min</p>
                        </div>
                        <div class="countdown__item">
                            <span>20</span>
                            <p>Sec</p>
                        </div>
                    </div>*@
                    <a href="/Home/Shop">Shop now</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Discount Section End -->
<!-- Services Section Begin -->
<section class="services spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-car"></i>
                    <h6>Giao hàng</h6>
                    <p>Giao hàng tận nơi, nhanh chóng</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-money"></i>
                    <h6>Hoàn tiền</h6>
                    <p>Nếu những sản phẩm bị lỗi</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-support"></i>
                    <h6>Hỗ trợ khách hàng</h6>
                    <p>Hỗ trợ 24/7</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="far fa-check-circle"></i>
                    <h6>Bảo hành</h6>
                    <p>Bảo hành đến 2 năm</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services Section End -->
