@{
    ViewBag.Title = "ProductDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Breadcrumb Begin -->
<title>@Model.productName - SorDecor | Sự lựa chọn hoàn hảo cho ngôi nhà của bạn</title>
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i> Home</a>
                    <a href="@Url.Action("ProductForCate", "Home", new { id = 1})">@Model.category</a>
                    <span>@Model.productName</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Product Details Section Begin -->
<section class="product-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="product__details__pic">
                    <div class="product__details__slider__content">
                        <div class="product__details__pic__slider owl-carousel">
                            <img data-hash="product-1" class="product__big__img" src="~/Assets/Client/img/product/@Model.imageURL" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="product__details__text">
                    <h3>@Model.productName <span>Xuất xứ: @Model.made</span></h3>
                    @if (((float?)@Model.sale).ToString() != "0")
                    {
                        <div class="product__details__price">
                            <script>
                                var price = new Number(@((float?)Model.price - (((float?)Model.price) * ((float?)Model.sale))/100));
                                var myObj = {
                                    style: "currency",
                                    currency: "VND"
                                }

                                document.write(price.toLocaleString("vi-VN", myObj));
                            </script>
                            <span>
                                <script>
                                    var price = new Number(@((float?)Model.price));
                                    var myObj = {
                                        style: "currency",
                                        currency: "VND"
                                    }

                                    document.write(price.toLocaleString("vi-VN", myObj));
                                </script>
                            </span>
                        </div>
                    }
                    else
                    {
                        <div class="product__details__price">
                            <script>
                                var price = new Number(@((long?)Model.price));
                                var myObj = {
                                    style: "currency",
                                    currency: "VND"
                                }

                                document.write(price.toLocaleString("vi-VN", myObj));
                            </script>
                        </div>
                    }

                    <p>@Model.info</p>
                    <div class="product__details__button">
                        <div id="add-cart" onclick="getInputValue();">
                            @if (Model.stt && Model.sL > 1)
                            {
                                <a href="@Url.Action("AddItem", "Cart", new { @productId = Model.productID, @SL = 1 })" class="cart-btn"><i class="fas fa-cart-arrow-down"></i> Thêm vào giỏ</a>
                            }
                            else
                            {
                                <a href="#" class="cart-btn"><i class="fas fa-exclamation-triangle"></i> Sản phẩm không có sẵn</a>
                            }
                        </div>
                    </div>
                    <div class="product__details__widget">
                        <ul>
                            <li>
                                <span>Kho: </span>
                                <div class="stock__checkbox">
                                    @Model.sL
                                </div>
                            </li>
                            <li>
                                <span>Size có sẵn:</span>
                                @if (Model.size != 0)
                                {
                                    <div class="size__btn">
                                        <label for="xs-btn" class="active">
                                            <input type="radio" id="xs-btn">
                                            <b>xs</b>
                                        </label>
                                        <label for="s-btn">
                                            <input type="radio" id="s-btn">
                                            <b>s</b>
                                        </label>
                                        <label for="m-btn">
                                            <input type="radio" id="m-btn">
                                            <b>m</b>
                                        </label>
                                        <label for="l-btn">
                                            <input type="radio" id="l-btn">
                                            <b>l</b>
                                        </label>
                                    </div>
                                }
                                else
                                {
                                    <div class="size__btn">
                                        <p>Không có</p>
                                    </div>
                                }

                            </li>
                            <li>
                                <span>Khuyến mãi:</span>
                                @if (Model.freeShip)
                                {
                                    <p><b>Freeship</b></p>
                                }
                                else
                                {
                                    <p>Không có</p>
                                }
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="product__details__tab">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">Chi tiết sản phẩm</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab">Đánh giá ( 2 )</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <h6>Chi tiết sản phẩm</h6>
                            <p>
                                <div style="hori" class="fb-comments" data-href="https://localhost:44370/Home/ProductDetails/@Model.productID#configurator" data-width="" data-numposts="5"></div>
                            </p>
                        </div>
                        <div class="tab-pane" id="tabs-3" role="tabpanel">
                            @Model.des
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Gợi ý sản phẩm-->
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="related__title">
                    <h5>GỢI Ý SẢN PHẨM</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="~/Assets/Client/img/product/rp-1.jpg">
                        <div class="label new">New</div>
                        <ul class="product__hover">
                            <li><a href="img/product/related/rp-1.jpg"><span class="fas fa-search"></span></a></li>
                            <li><a href="#"><span class="fas fa-shopping-cart"></span></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Buttons tweed blazer</a></h6>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product__price">$ 59.0</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="img/product/related/rp-2.jpg">
                        <ul class="product__hover">
                            <li><a href="img/product/related/rp-2.jpg" class="image-popup"><span class="arrow_expand"></span></a></li>
                            <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                            <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Flowy striped skirt</a></h6>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product__price">$ 49.0</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="img/product/related/rp-3.jpg">
                        <div class="label stockout">out of stock</div>
                        <ul class="product__hover">
                            <li><a href="img/product/related/rp-3.jpg" class="image-popup"><span class="arrow_expand"></span></a></li>
                            <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                            <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Cotton T-Shirt</a></h6>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product__price">$ 59.0</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="img/product/related/rp-4.jpg">
                        <ul class="product__hover">
                            <li><a href="img/product/related/rp-4.jpg" class="image-popup"><span class="arrow_expand"></span></a></li>
                            <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                            <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Slim striped pocket shirt</a></h6>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product__price">$ 59.0</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- Product Details Section End -->
