@{
    Layout = null;
}
@model WebDecor.Models.LoginModel


<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/Assets/Client/css/login.css" type="text/css">
    <script src="https://kit.fontawesome.com/16bbaa6f54.js" crossorigin="anonymous"></script>
    <title>Login</title>
</head>
<body>
    <div class="container" id="container">
        <div class="form-container sign-in-container">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, null, new { @class = "alert alert-danger" })
                @*@Html.ValidationSummary(false, "", "error")*@
                <h1>Đăng nhập</h1>
                <div class="form-group">
                    @if (ViewBag.Error != null)
                    {
                        <div style="color: #ca1515"><strong>@ViewBag.Error</strong></div>
                    }
                    @if (ViewBag.ErrorAcc != null)
                    {

                        <div style="color: #ca1515"><strong>@ViewBag.ErrorAcc</strong></div>
                    }
                </div>
                <div class="social-container">
                    <a href="@Url.Action("LoginFacebook", "User")" class="facebook-social"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="google-social"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="in-social"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <span>hoặc sử dụng tài khoản</span>
                @Html.TextBoxFor(model => model.userName, new { @type = "text", @placeholder = "Tên đăng nhập", @autofocus = "autofocus" })
                <span style="color: #ca1515"><strong>@ViewData["ErrorUserName"]</strong></span>
                @Html.TextBoxFor(model => model.passWord, new { @type = "password", @placeholder = "Password" })
                <span style="color: #ca1515"><strong>@ViewData["ErrorPass"]</strong></span>

                <a href="#">Quên mật khẩu?</a>
                <button type="submit">Đăng nhập</button>
            }
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <h1>Hello, Friend!</h1>
                    <p>Nếu bạn chưa có tài khoản, nhấn vào đây để đăng ký tài khoản</p>
                    <button class="ghost" id="signUp">@Html.ActionLink("Đăng ký", "Register", "User")</button>
                </div>
            </div>
        </div>
    </div>
    @*<script src="~/Assets/Client/js/login.js"></script>*@
</body>
</html>v


