
@{
	ViewBag.Title = "Index";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@*<script type="text/javascript">

	$(function () {
		var chart = new CanvasJS.Chart("chartContainer", {
			theme: "light2",
			zoomEnabled: true,
			animationEnabled: true,
			title: {
				text: "Line Chart in ASP.Net MVC using CanvasJS"
			},
			subtitles: [
				{
					text: "Try Zooming and Panning"
				}
			],
			data: [
			{
				type: "line",

		//        dataPoints: [
					//{ x: 10, y: 71 },
					//{ x: 20, y: 55 },
					//{ x: 30, y: 50 },
					//{ x: 40, y: 65 },
					//{ x: 50, y: 95 },
					//{ x: 60, y: 68 },
					//{ x: 70, y: 28 },
					//{ x: 80, y: 34 },
					//{ x: 90, y: 14 },
					//{ x: 100, y: 33 },
					//{ x: 110, y: 42 },
					//{ x: 120, y: 62 },
		//            { x: 130, y: 70 },
					//{ x: 140, y: 85 },
					//{ x: 150, y: 58 },
					//{ x: 160, y: 34 },
					//{ x: 170, y: 24 },
					//{ x: 180, y: 33 },
					//{ x: 190, y: 28 },
					//{ x: 200, y: 42 }
		//        ],

				//You can add dynamic data from the controller as shown below. Check the controller and uncomment the line which generates dataPoints.
				dataPoints: @Html.Raw(ViewBag.DataPoints),
			}
			]
		});
		chart.render();
	});
</script>*@


<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
	<h1 class="h3 mb-0 text-gray-800">Thống kê</h1>
</div>

<!-- Content Row -->
<div class="row">

	<!-- Earnings (Monthly) Card Example -->
	<div class="col-xl-3 col-md-6 mb-4">
		<div class="card border-left-primary shadow h-100 py-2">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
							Doanh thu (Theo tháng)
						</div>
						<div class="h5 mb-0 font-weight-bold text-gray-800">
							<script>
								var price = new Number(@ViewBag.revenueMonth);
								var myObj = {
									style: "currency",
									currency: "VND"
								}

								document.write(price.toLocaleString("vi-VN", myObj));
							</script>
						</div>
					</div>
					<div class="col-auto">
						<i class="fas fa-calendar fa-2x text-gray-300"></i>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Earnings (Monthly) Card Example -->
	<div class="col-xl-3 col-md-6 mb-4">
		<div class="card border-left-success shadow h-100 py-2">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-xs font-weight-bold text-success text-uppercase mb-1">
							Doanh thu (hàng năm)
						</div>
						<div class="h5 mb-0 font-weight-bold text-gray-800">
							<script>
								var price = new Number(@ViewBag.revenueYear);
								var myObj = {
									style: "currency",
									currency: "VND"
								}

								document.write(price.toLocaleString("vi-VN", myObj));
							</script>
						</div>
					</div>
					<div class="col-auto">
						<i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Earnings (Monthly) Card Example -->
	<div class="col-xl-3 col-md-6 mb-4">
		<div class="card border-left-info shadow h-100 py-2">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-xs font-weight-bold text-info text-uppercase mb-1">
							Đơn hàng chờ xử lý
						</div>
						<div class="row no-gutters align-items-center">
							<div class="col-auto">
								<div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">@ViewBag.PendingTask</div>
							</div>
							@*<div class="col">
									<div class="progress progress-sm mr-2">
										<div class="progress-bar bg-info" role="progressbar"
											 style="width: 50%" aria-valuenow="50" aria-valuemin="0"
											 aria-valuemax="100"></div>
									</div>
								</div>*@
						</div>
					</div>
					<div class="col-auto">
						<i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Pending Requests Card Example -->
	<div class="col-xl-3 col-md-6 mb-4">
		<div class="card border-left-warning shadow h-100 py-2">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
							Phản hồi của khách hàng
						</div>
						<div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.Feedback</div>
					</div>
					<div class="col-auto">
						<i class="fas fa-comments fa-2x text-gray-300"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Content Row -->

<div class="row">

	<!-- Area Chart -->
	<div class="col-xl-8 col-lg-7">
		<div class="card shadow mb-4">
			<!-- Card Header - Dropdown -->
			<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
				<h6 class="m-0 font-weight-bold text-primary">Thu nhập (Theo tháng)</h6>
				<div class="dropdown no-arrow">
					<a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
					   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
					</a>
					<div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
						 aria-labelledby="dropdownMenuLink">
						<div class="dropdown-header">Dropdown Header:</div>
						<a class="dropdown-item" href="#">Action</a>
						<a class="dropdown-item" href="#">Another action</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">Something else here</a>
					</div>
				</div>
			</div>
			<!-- Card Body -->
			<div class="card-body">
				<div class="chart-area">
					@*<canvas id="myAreaChart"></canvas>*@
					<div id="chartContainer" style="height: 340px; width: 100%;"></div>
					<script type="text/javascript">
						window.onload = function () {
							var chart = new CanvasJS.Chart("chartContainer", {
								theme: "light2",
								animationEnabled: true,
								//title: {
								//    text: "Simple Column Chart in ASP.NET MVC"
								//},
								//subtitles: [
								//    { text: "Try Resizing the Browser" }
								//],
								data: [{
									type: "line",
									dataPoints: @Html.Raw(ViewBag.DataPoints),
								}]
							});
							chart.render();
						}
					</script>
					
				</div>
			</div>
		</div>
	</div>

	<!-- Pie Chart -->
	<div class="col-xl-4 col-lg-5">
		<div class="card shadow mb-4">
			<!-- Card Header - Dropdown -->
			<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
				<h6 class="m-0 font-weight-bold text-primary">Revenue Sources</h6>
				<div class="dropdown no-arrow">
					<a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
					   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
					</a>
					<div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
						 aria-labelledby="dropdownMenuLink">
						<div class="dropdown-header">Dropdown Header:</div>
						<a class="dropdown-item" href="#">Action</a>
						<a class="dropdown-item" href="#">Another action</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">Something else here</a>
					</div>
				</div>
			</div>
			<!-- Card Body -->
			<div class="card-body">
				<div class="chart-pie pt-4 pb-2">
					<canvas id="myPieChart"></canvas>
				</div>
				<div class="mt-4 text-center small">
					<span class="mr-2">
						<i class="fas fa-circle text-primary"></i> Direct
					</span>
					<span class="mr-2">
						<i class="fas fa-circle text-success"></i> Social
					</span>
					<span class="mr-2">
						<i class="fas fa-circle text-info"></i> Referral
					</span>
				</div>
			</div>
		</div>
	</div>
</div>
